@using Microsoft.EntityFrameworkCore.Metadata.Builders
@model WebApp.ViewModels.User 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - network2 </title>
    <link rel="stylesheet" href="~/css/site.css"  />
    <link rel="stylesheet" href="~/css/login.css" />
            
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/js/mediaelement/mediaelement-and-player.min.js"></script>
</head>

<style>
#show-post-big:hover {
  cursor: pointer;
}

</style>

<body>

<div id="main-site-block">
    <div id="header" style="height: 45px; background: #4e555b; display: flex; position: sticky; top: 0; z-index: 5; align-items: center;  justify-content: flex-end;">
        <form style="margin-right: 25%">
            <a href="@Url.RouteUrl(new { controller = "User", action = "IndexByName", name = @User.Identity.Name })" class="btn-primary">HOME</a>        
        </form>
        <div  style="margin-right: 25%">
            <div class="dropdown">
                <button id="show-notifications" class="btn btn-secondary dropdown-toggle"
                        type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Notifications
                </button>
                <div class="dropdown-menu" aria-labelledby="notifications" style="width: 500px;">
                    <div id="ntfs"></div>
                  
                </div>
            </div>
        </div>
        <div class="dropdown" style="margin-right: 10%; ">
            <a style="" class="dropdown-toggle text-white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="@Url.Content(@Model.AvatarPath)" width="30px" height="30px" style="border-radius: 50%; object-fit: cover; border: 0px solid black;">
                @User.Identity.Name
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="dropdown-item" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
    
    <div id="head" class="shadow">
        <div style="display:flex; justify-content:center; width: 100%; height: 400px; background: url(@Url.Content("~/profile_header1.jpg"));">
            <div style="align-self: flex-end; display: flex; flex-direction: row; width: 220px; height: 220px;">
                <img class="shadow-lg" src="@Url.Content(@Model.AvatarPath)" width="220px" height="220px" style="border-radius: 50%; object-fit: cover; border: 0px solid black;">
                @{
                    if (@Model.Nickname != User.Identity.Name)
                    {
                        <button id="send-friend-request"></button>
                    }
                }
            </div>
        </div>
       
        
        <div id="nav-links" class="container">
            <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
                <div class="col-md-2 text-center mt-3 mb-3"><a id="profile-link" asp-action="Index" asp-controller="User" asp-route-id="@Model.Id">Profile</a></div>
                <div class="col-md-2 text-center mt-3 mb-3"><a id="music-link" asp-action="Music" asp-controller="User" asp-route-id="@Model.Id">Music (@Model.Songs.Count)</a></div>
                <div style="display: flex; flex-direction: column; justify-content: center; text-align: center; margin: 1%;">
                    <div>
                        <h1>
                            @Model.Nickname
                        </h1>
                        </div>
                    <div>
                        @Model.Name @Model.Surname
                    </div>
                </div>
                <div class="col-md-2 text-center mt-3 mb-3"><a id="photos-link" asp-action="Photos" asp-controller="User" asp-route-id="@Model.Id">Photos (@Model.Photos.Count)</a></div>
                <div class="col-md-2 text-center mt-3 mb-3"><a id="friends-link" asp-action="Friends" asp-controller="User" asp-route-id="@Model.Id">Friends @{
                                                                                                                                                                  if (@Model.InputRequests.Count != 0)
                                                                                                                                                                  {
                                                                                                                                                                      <span>(@Model.Friends.Count @Model.InputRequests.Count)</span>
                                                                                                                                                                  }
                                                                                                                                                                  else
                                                                                                                                                                  {
                                                                                                                                                                      <span>(@Model.Friends.Count)</span> 
                                                                                                                                                                  }
                                                                                                                                                              }</a></div>
            </div>
        </div>
    </div>
    <div id="columns" style="background: #e7e9e6; min-height: 300px; display: flex; justify-content: space-around; position: relative; width: 100%;">
        <div style="margin: 1%; width: 22%;">
            <div style="background: #fff; border-radius: 5px; display: flex;">
                <div id="profile-intro" style="margin: 10px;  width: 100%; ">
                    <div style="text-align: center">
                        <h5>
                            Profile Intro
                        </h5>
                    </div>
                    <div style="margin: 5px;">
                        <div><b>About me</b></div>
                        <div style="margin: 2px;">
                            
                        </div>
                    </div>
                    <div style="margin: 5px;">
                        <div><b>Favourite music bands</b></div>
                        <div style="margin: 2px;">  
                            
                        </div>                  
                    </div>
                    <div style="margin: 5px;">
                        <div><b>Favourite literature</b></div> 
                        <div style="margin: 2px;">  
                            
                        </div>                                            
                    </div>
                    <div style="margin: 5px;">
                        <div><b>Interests</b></div>
                        <div style="margin: 2px;">      
                            
                        </div>                                            
                    </div>                    
                </div>
            </div>
        </div>
        <div id="content" style="margin: 1%; width: 50%;">
            @RenderBody()
            <div style="">
                <div>
                </div>
            </div>
        </div>
        <div style="width: 22%; margin: 1%; ">
            <div style="background: #fff; border-radius: 5px; display: flex;">
                <div id="recent-photos-block" style="margin: 10px; width: 100%;">
                    <div style="text-align: center;"><h5>Last photos</h5></div>
                    <div id="recent-photos" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

<div id="modals">

    <div class="modal" id="post-big" tabindex="-1" role="dialog" aria-labelledby="post-big-label" aria-hidden="true">
      <div class="modal-dialog-centered" role="document" style="justify-content: center">
          <div class="modal-content" style="max-width: 50%; ">
              <div id="modal-post-owner-data">
                  
              </div>
              <div id="modal-post-text">
                  
              </div>
              <div id="modal-post-reactions">
                  
              </div>
              <div id="modal-post-comments">
                  
              </div>
          </div>
          <button id="post-big-close" onclick="ClearPostModal()" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    </div>

    <div class="modal" id="photo-big" tabindex="-1" role="dialog" aria-labelledby="photo-big-label" aria-hidden="true">
        <div class="modal-dialog-centered" style=" justify-content: center; border-radius: 10px;" role="document">
            <div class="modal-content" style="flex-direction: row; width: auto; background: #4e555b;  border-radius: 10px;">
                <div class="modal-body" style="padding: 0;">
                    <div id="modal-photoplace" style="justify-items: center; justify-content: center;">
                      
                    </div>
                    <div id="modal-photo-actions">
                          
                    </div>
                </div>
                <div id="modal-photo-info" style="position: relative; width: 300px; background: white; height: inherit">
                    <div id="modal-photo-data" style="height: 125px;  border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #dddddd;">
                        <div id="modal-photo-owner-data">
                              
                        </div>
                        <div id="modal-photo-reactions">
                              
                        </div>
                    </div>
                    <div id="modal-photo-comments">
                          
                    </div>
                    <div id="modal-photo-write-comment" style="position: absolute;  bottom: 0; margin: 3%; justify-content: center;">
                          
                    </div>
                </div>
            </div>
            <div>
                <button id="photo-big-close" onclick="ClearPhotoModal()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    
</div>
</body>
</html>
<script>
    
    $(document).ready( function() {
        $.ajax({
            url:'@Url.Action("GetNLastPhotosByUserId", "User")',
            type:'GET',
            data: {
                id: @Model.Id,
                N: 9,
            }
        }).done( function(photoList) {
            let ddl= ' ';
            for(let i = 0; i < 9; i++){
                if(photoList[i] != null){
                    ddl += "<div style='margin: 3px;'>" +
                                '<a style="cursor: pointer;" data-id="' + photoList[i].id + '" id="show-photo-big">' +
                                    '<img src="' + photoList[i].path + '" style="object-fit: cover; width: 90px; height: 90px; ">' +
                                "</a>" +
                            "</div>\n";
                    } else break;
            }
            document.getElementById("recent-photos").innerHTML = ddl;
        })
    });
        
    $(document).ready( function() {
            let url = new URL(window.location.href);      
            let isSomePostId = url.searchParams.has('wall');
            let isSomePhotoId = url.searchParams.has('photo');
            if(isSomePostId === true){
                PreparePostModal(url);
                $("#post-big").modal('show');
            }
            if(isSomePhotoId === true){
                 PreparePhotoModal(url);        
                $("#photo-big").modal('show');
            }
    });    
    
    $(document).on('click', '#show-notifications', function() {
            $.ajax({
                 url:'@Url.Action("GetNotificationsByReceiverNickname", "User")',
                 type:'GET',
                 async: false,
                 data: {
                     name: '@User.Identity.Name'
                 }
            }).done(function(notifications) {
                $.each(notifications, function(index, element){
                    let ntfcs = " ";
                      ntfcs += ReturnNotificationHTMLCard(element);
                      $(ntfcs).insertAfter("#ntfs");
                }); 
            })                               
         });
     
    $(document).on('click', '#post-big-close', function(){
            let url = new URL(window.location.href);
            url.searchParams.delete('wall');
            history.pushState(null, null, url.toString());
            $("#post-big").modal('hide')
    });
    
    $(document).on('click', '#show-post-big', function() {
            let url = new URL(window.location.href);
            url.searchParams.append('wall', $(this).data("id"));
            history.pushState(null, null, url.toString());
            PreparePostModal(url);
            $("#post-big").modal('show');
    });
    
    $(document).on('click', '#photo-big-close', function(){
                let url = new URL(window.location.href);
                url.searchParams.delete('photo');
                history.pushState(null, null, url.toString());
                $("#photo-big").modal('hide')
        });
        
    $(document).on('click', '#show-photo-big', function() {
                let url = new URL(window.location.href);
                url.searchParams.append('photo', $(this).data("id"));
                history.pushState(null, null, url.toString());
                PreparePhotoModal(url);
                $("#photo-big").modal('show');
        });
      
    $(document).on('click', '.like-photo', function() {
             $.ajax({
               url:'@Url.Action("LikeButtonResponse", "Photo")',
               type:'POST',
               data: {   
                   id: $(this).data("id")
               }
             });
             let v = document.getElementById("modal-photo-like-count");
             v.innerHTML = String(parseInt(v.innerHTML) + 1);
             $(this).css('color', 'red');
             $(this).removeClass("like-photo");
             $(this).addClass("unlike-photo");
             
     });
 
    $(document).on('click', '.unlike-photo', function() {
             $.ajax({
               url:'@Url.Action("LikeButtonResponse", "Photo")',
               type:'POST',
               data: {
                   id: $(this).data("id")
               }
             });
             let v = document.getElementById("modal-photo-like-count");
             v.innerHTML = String(parseInt(v.innerHTML) - 1);
             $(this).css('color', 'gray');
             $(this).removeClass("unlike-photo");
             $(this).addClass("like-photo");
        });
    
    $(document).on('click', '.like-post-modal', function() {
                 $.ajax({
                   url:'@Url.Action("LikeButtonResponse", "Post")',
                   type:'POST',
                   data: {   
                       id: $(this).data("id")
                   }
                 });
                 let v = document.getElementById("modal-post-like-count");
                 v.innerHTML = String(parseInt(v.innerHTML) + 1);
                 $(this).css('color', 'red');
                 $(this).removeClass("like-post-modal");
                 $(this).addClass("unlike-post-modal");
                 
         });
     
    $(document).on('click', '.unlike-post-modal', function() {
                 $.ajax({
                   url:'@Url.Action("LikeButtonResponse", "Post")',
                   type:'POST',
                   data: {
                       id: $(this).data("id")
                   }
                 });
                 let v = document.getElementById("modal-post-like-count");
                 v.innerHTML = String(parseInt(v.innerHTML) - 1);
                 $(this).css('color', 'gray');
                 $(this).removeClass("unlike-post-modal");
                 $(this).addClass("like-post-modal");
            });
    
    $(document).on('click', '#modal-photo-send-comment-button', function(){
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SaveAndReturnComment", "Photo")',
                data: {
                    photoId: $(this).data("id"),
                    text: $("#modal-photo-comment-text").val(),
                }
            }).done(function(comment) {         
                let ddl = ' ';
                ddl+=CommentMakeHTML(comment);
                document.getElementById("modal-photo-comments").innerHTML += ddl;
            })
        });
    
    $(document).on('click', '#modal-photo-change-avatar', function(){
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ChangeAvatarByPhotoId", "Photo")',
                    data: {
                        photoId: $(this).data("id"),
                    }
                }).done(function(comment) {         
                    location.reload();
                })
            });
    
    $(document).on('click', '#modal-post-comment', function() {
             let postId = 0;
             let button = $(this);
             postId = button.data("id");
                            $.ajax({
                              url:'@Url.Action("SaveAndReturnComment", "Post")',
                              type:'POST',
                              data: {
                                  text: $('#modal-post-comment-text').val(),
                                  postId: button.data("id")
                              }
                            })
                            .done(function (data){
                                let ddl = ' ';
                                ddl+=CommentMakeHTML(data);
                                $(ddl).insertBefore('#modal-post-comments-placeholder-end'); 
                                let v = document.getElementById("modal-comments-post-quantity");
                                v.innerHTML = " " + String(parseInt(v.innerHTML) + 1);
                            });
                       });  
    
    let ClearPhotoModal = function(){
        document.getElementById("modal-photo-comments").innerHTML = "";
        document.getElementById("modal-photo-reactions").innerHTML = "";
        document.getElementById("modal-photoplace").innerHTML = "";
        document.getElementById("modal-photo-owner-data").innerHTML = "";
        document.getElementById("modal-photo-write-comment").innerHTML = "";
    };
    
    let ClearPostModal = function(){
        document.getElementById("modal-post-owner-data").innerHTML = "";
        document.getElementById("modal-post-text").innerHTML = "";
        document.getElementById("modal-post-reactions").innerHTML = "";
        document.getElementById("modal-post-comments").innerHTML = "";
    };
        
    let PreparePhotoModal = function(url){
      
                let idOfPhotoToShow = url.searchParams.get('photo');
                    $.ajax({
                       url: '@Url.Action("GetPhotoById", "File")',
                       type: 'GET',
                       data: {
                       id: parseInt(idOfPhotoToShow.toString()),
                       }
                    }).done(function(photo) {
                       document.getElementById("modal-photoplace")
                       .innerHTML = '<img src="' + photo.path + '" style="max-height: 700px;">';
                       document.getElementById("modal-photo-actions")
                       .innerHTML = '<a data-id="' + photo.id + '" id="modal-photo-change-avatar" style="cursor: pointer; color: #dddddd">Make this an avatar photo</a>';
                       let ddl = ' ';
                       ddl+= '   <div style="display: flex; margin: 15px;">';
                       ddl+= '<a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + photo.owner.id + '">'; 
                       ddl+= '            <img src="' + photo.owner.avatarPath + '" width="50px" height="50px" style="border-radius: 50%">\n';
                       ddl+= '          </a>  ';
                       ddl+= '            <div style="padding-left: 15px;">\n';
                       ddl+= '                <div style="color: #20257c; font-size: 20px;">\n';
                       ddl+= '                    <a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + photo.owner.id + '">' + photo.owner.nickname + '</a>\n';
                       ddl+= '                </div>\n';
                       ddl+= '                <div style="color: #b9b9b9">\n';
                       ddl+=  ConvertTimeToPostFormat(photo.time);
                       ddl+= '                </div>\n';
                       ddl+= '            </div>\n'; 
                       ddl+= '           </div>   ';
                       document.getElementById("modal-photo-owner-data").innerHTML = ddl;
                       
                       ddl= ' ';
                       ddl+=           '        <div id="modal-photo-reactions-'+ photo.id +'" style="margin: 5%;">\n';
                       ddl+=           '            <i class="fas fa-heart reaction-button '+ ReturnCSSLikeUnlike(IsPhotoLikedByUser(photo.id), "photo") + '" data-id="' + photo.id  + '" id="modal-photo-like"></i> <a id="modal-photo-like-count">'+ photo.rating +'</a>\n';
                       ddl+=           '            <i style="margin: 3%;" class="fas fa-reply reaction-button" data-id="' + photo.id  + '" id="share"></i> ';
                       ddl+=           '        </div>\n';
                       document.getElementById("modal-photo-reactions").innerHTML = ddl;
                       if(IsPhotoLikedByUser(photo.id)){
                            $('#modal-photo-like').css('color', 'red');
                            $('#modal-photo-like').removeClass("like-photo");
                            $('#modal-photo-like').addClass("unlike-photo");
                       }
                       ddl=' ';
                       $.ajax({
                         url:'@Url.Action("GetCommentsByPhotoId", "Photo")',
                         type: 'GET',
                         data: {
                             id: photo.id,
                         }
                       }).done(function(comments) {
                            $.each(comments, function(index, comment){
                                 ddl += CommentMakeHTML(comment);
                            });
                            document.getElementById("modal-photo-comments").innerHTML = ddl; 
                            ddl = " ";
                            ddl+= '<div style="display:flex; flex-direction: row; width:100%; align-items: flex-start;">';
                            ddl+= '<textarea placeholder="Leave a comment...." class="form-control" style=" resize: none" rows="1" id="modal-photo-comment-text" name="text"></textarea>';
                            ddl+= '<button class="btn btn-primary" data-id="' + photo.id + '" id="modal-photo-send-comment-button" style="margin-bottom: 0;">';
                            ddl+=    'Submit';
                            ddl+= '</button>';
                            ddl+= '</div>';
                            document.getElementById("modal-photo-write-comment").innerHTML = ddl;
                       });
                       
                    });  
    };
    
    let PreparePostModal = function(url){
        let idOfPostToShow = url.searchParams.get('wall');
        $.ajax({
            url: '@Url.Action("GetPostById", "Post")',
            type: 'GET',
            data: {
                postId: parseInt(idOfPostToShow.toString()),
            }
        }).done(function(post) {
            let ddl = ' ';
            ddl+= '   <div style="display: flex; margin: 15px;">';
            ddl+= '<a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + post.ownerId + '">'; 
            ddl+= '            <img src="' + post.owner.avatarPath + '" width="50px" height="50px" style="border-radius: 50%">\n';
            ddl+= '          </a>  ';
            ddl+= '            <div style="padding-left: 15px;">\n';
            ddl+= '                <div style="color: #20257c; font-size: 20px;">\n';
            ddl+= '                    <a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + post.owner.id + '">' + post.owner.nickname + '</a>\n';
            ddl+= '                </div>\n';
            ddl+= '                <div style="color: #b9b9b9">\n';
            ddl+=  ConvertTimeToPostFormat(post.date);
            ddl+= '                </div>\n';
            ddl+= '            </div>\n'; 
            ddl+= '           </div>   ';
            document.getElementById("modal-post-owner-data").innerHTML = ddl;
            
            ddl= ' ';
            ddl+=           '        <div class="post-text">\n';
            ddl+=                   post.text;
            ddl+=           '        </div>';
            document.getElementById("modal-post-text").innerHTML = ddl;
            
            ddl= ' ';
            ddl+=           '        <div id="post-reactions-'+ post.id +'" style="margin-bottom: 2%;">\n';
            ddl+=           '            <i class="fas fa-heart reaction-button '+ ReturnCSSLikeUnlike(IsPostLikedByUser(post.id), "post-modal") +'" data-id="' + post.id  + '" id="modal-post-like-button"></i> <a id="modal-post-like-count">'+ post.rating +'</a>\n';
            ddl+=           '            <i class="fas fa-comment reaction-button" data-id="' + post.id  + '" id="comment"></i><a id="modal-post-comments-quantity"> ' + post.commentQuantity +'</a>\n';
            ddl+=           '            <i class="fas fa-reply reaction-button" data-id="' + post.id  + '" id="share"></i> ' + post.sharesQuantity + '\n';
            ddl+=           '        </div>\n';     
            document.getElementById("modal-post-reactions").innerHTML = ddl;
            
            if(IsPostLikedByUser(post.id)){
                   $('#modal-post-like-button').css('color', 'red');
                   $('#modal-post-like-button').removeClass("like-post-modal");
                   $('#modal-post-like-button').addClass("unlike-post-modal");
            }            
            
            ddl= ' ';
            ddl+=       '<div style="background: #f5f5f5; padding:1%">\n'+
                        ' <div id="modal-post-comments-placeholder" style="flex-direction: column;">' +
                        '</div>' +
                        ' <div id="modal-post-comments-placeholder-end" style="flex-direction: column;">' +
                                                '</div>' +
                        '   <div style="display:flex; flex-direction: row; width:100%; align-items: flex-start">' +
                        '       <textarea placeholder="Leave a comment...." class="form-control" style=" resize: none" rows="1" id="modal-post-comment-text" name="text"></textarea>\n'+
                        '       <button class="btn btn-primary" data-id="' + idOfPostToShow + '" style="margin-bottom: 0;" id="modal-post-comment">Submit</button>\n'+
                        '   </div>   ' +
                        '  </div>';    
            document.getElementById("modal-post-comments").innerHTML = ddl;
            ddl= ' ';
            $.ajax({
                url:'@Url.Action("GetCommentsByPostId", "Post")',
                type: 'GET',
                data: {
                   postId: idOfPostToShow,
                }
            }).done(function(comments) {
                $.each(comments, function(index, comment){
                   ddl = CommentMakeHTML(comment) + ddl;
                }); 
                document.getElementById("modal-post-comments-placeholder").innerHTML = ddl;
            });            
        })
    };
        
    let IsPostLikedByUser = function(postId){ 
     let result = false;
     $.ajax({
        url:'@Url.Action("IsLikedByUser", "Post")',
        type: 'GET',
        async: false,
            data:{
                postId: postId
        }
     }).done(function(answer) {
         result = answer;
     });
            
    return result;
 };    
    
    let IsPhotoLikedByUser = function(postId){ 
         let result = false;
         $.ajax({
            url:'@Url.Action("IsLikedByUser", "Photo")',
            type: 'GET',
            async: false,
                data:{
                    id: postId
            }
         }).done(function(answer) {
             result = answer;
         });
                
        return result;
     };
    
    let CommentMakeHTML = function(data) {
         let ddl = ' '; 
         ddl+='<div id="comment'+ data.id +'"style="width: 100%; border-radius: 2px; margin: 0.5%;">\n';
         ddl+=           '        <div id="comment-header-'+ data.id +'" class="comment-header" style="display: flex; border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #dddddd;">\n';
         ddl+=           '            <img src="' + data.owner.avatarPath + '" width="40px" height="40px" style="border-radius: 50% ">\n';
         ddl+=           '            <div style="padding: 1px;  margin-left: 10px;">\n';
         ddl+=           '                <div style="color: #20257c; font-size: 15px;">\n';
         ddl+=           '                    <a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + data.owner.id + '">' + data.owner.nickname + '</a>\n';
         ddl+=           '                </div>\n';
         ddl+=           '        <div id="comment-text-'+ data.id +'" class="comment-text">\n';
         ddl+=            data.text;
         ddl+=           '        </div>\n';
         ddl+=           '          <div style="color: #b9b9b9; font-size: 15px">';
         ddl+=            ConvertTimeToCommentFormat(data.time) + ' | Answer';
         ddl+=           '           </div>';
         ddl+=           '        </div>\n';
         ddl+=           '     </div>\n';
         ddl+=           '  </div>';        
         return ddl;
     };
           
    let ConvertTimeToCommentFormat = function(time){
                 let t = ' ';
                 for(let i = 11; i < 16; i++){
                 t += time[i];
                 }
                 return t;
        };
    
    let ReturnNotificationHTMLCard = function(data) {
             let ddl = ' '; 
             ddl+='<div id="notification-'+ data.id +'"style="display: flex; width: 100%; border-radius: 2px; margin: 0.5%;">\n';
             ddl+=           '            <a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + data.senderUser.id + '" style="margin-left: 5px;">' +
                             '<img src="' + data.picturePath + '" width="40px" height="40px" style=" border-radius: 50% ">' +
                             '</a>\n';
             ddl+=           '            <div style="padding: 1px;  margin-left: 10px;">\n';
             ddl+=           '        <div id="notification-text-'+ data.id +'" class="comment-text">\n';
             ddl+=           '   <a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + data.senderUser.id + '">' + data.senderUser.nickname + '</a>' + ' ' + data.text;
             ddl+=           '          <div style="color: #b9b9b9; font-size: 15px">';
             ddl+=            ConvertTimeToNotificationFormat(data.time);
             ddl+=           '           </div>';
             ddl+=           '        </div>\n';
             ddl+=           '     </div>\n';
             ddl+=           '  </div>';        
             return ddl;
         };
    
    let ConvertTimeToNotificationFormat = function(time){
                     let t = ' ';
                     for(let i = 11; i < 16; i++){
                     t += time[i];
                     }
                     return t;
            };
     
    let ConvertTimeToPostFormat = function(time){
             let t = ' ';
             for(let i = 11; i < 16; i++){
             t += time[i];
             }
             t+=' ';
             t+=time[8];
             t+=time[9];
             t+='.';
             t+=time[5];
             t+=time[6];
             t+='.';
             t+=time[0];
             t+=time[1];
             t+=time[2];
             t+=time[3];
             return t;
    };
    
    let ReturnCSSLikeUnlike = function(bool, type){
        if(type === "photo"){
            if(bool === true){
                 return "unlike-photo";
            }
            return "like-photo";
         } 
         if(type === "post"){
            if(bool === true)
                return "unlike-post";
            return "like-post";
         }
         if(type === "post-modal"){
             if(bool === true)
                 return "unlike-post-modal";
             return "like-post-modal";
         }
     };  
     
    let PostMakeHTML = function(data) {
        let ddl = ' '; 
        ddl+='<div id="post-'+ data.id +'" style="width: 100%; border-radius: 2px; margin-top: 2%; background: white">\n';
        ddl+=           '        <div id="post-header-'+ data.id +'" class="post-header">\n';
        ddl+=           '          <a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + data.owner.id + '">'; 
        ddl+=           '            <img src="' + data.owner.avatarPath + '" width="50px" height="50px" style="border-radius: 50%">\n';
        ddl+=           '          </a>  ';
        ddl+=           '            <div style="padding-left: 15px;">\n';
        ddl+=           '                <div style="color: #20257c; font-size: 20px;">\n';
        ddl+=           '                    <a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + data.owner.id + '">' + data.owner.nickname + '</a>\n';
        ddl+=           '                </div>\n';
        ddl+=           '                <div style="color: #b9b9b9">\n';
        ddl+=           '<a id="show-post-big" data-id= "' + data.id + '" style="color: grey;">' +    ConvertTimeToPostFormat(data.date) + '<\a>';
        ddl+=           '                </div>\n';
        ddl+=           '            </div>\n';
        ddl+=           '            <div id="post-options-'+ data.id +'" class="dropdown" style="margin-left: auto; color: #b6b6b6">\n';
        ddl+=           '                <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>\n';
        ddl+=           '                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">\n' + 
                        '<input class="dropdown-item" data-toggle="modal" data-target="#modalDeletePost" type="submit" value="Delete"/>';
        ddl+=           '                </div>\n';
        ddl+=           '            </div>\n';
        ddl+=           '        </div>\n';
        ddl+=           '        <div id="post-text-'+ data.id +'" class="post-text">\n';
        ddl+=            data.text;
        ddl+=           '        </div>' +
                        ' <div class="modal" id="modalDeletePost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">\n'+
                          '  <div class="modal-dialog modal-dialog-centered" role="document">\n'+
                          '    <div class="modal-content">\n'+
                          '      <div class="modal-header">\n'+
                          '        <h5 class="modal-title" id="exampleModalCenteredLabel">Delete post</h5>\n'+
                          '        <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n'+
                          '          <span aria-hidden="true">&times;</span>\n'+
                          '        </button>\n'+
                          '      </div>\n'+
                          '      <div class="modal-body">\n'+
                          '        Are you sure to delete this post? This operation can\'t be undone.\n'+
                          '      </div>\n'+
                          '      <div class="modal-footer">\n'+
                          '        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>\n'+
                          '        <button type="button" id="delete-post" data-dismiss="modal" data-id="'+ data.id +'" class="btn btn-primary">Delete</button>\n'+
                          '      </div>\n'+                        
                          '    </div>\n'+
                          '  </div>\n'+
                          '</div> \n';
        ddl+=           '        <div id="post-photos-'+ data.id +'" class="post-photos">\n';
        ddl+=           '        </div>\n';
        ddl+=           '        <div id="post-reactions-'+ data.id +'" style="margin-bottom: 2%;">\n';
        ddl+=           '            <i class="fas fa-heart reaction-button '+ ReturnCSSLikeUnlike(IsPostLikedByUser(data.id), "post") +'" data-id="' + data.id  + '" id="l'+ data.id +'"></i> <a id="like-post'+ data.id +'">'+ data.rating +'</a>\n';
        ddl+=           '            <i class="fas fa-comment reaction-button" data-id="' + data.id  + '" id="show-post-big"></i><a style="cursor: pointer" id="comments-of-' + data.id + '"> ' + data.commentQuantity +'</a>\n';
        ddl+=           '            <i class="fas fa-reply reaction-button" data-id="' + data.id  + '" id="share"></i> ' + data.sharesQuantity + '\n';
        ddl+=           '        </div>\n';
        ddl+=           '<div style="background: #f5f5f5; \n'+
                              'padding:1%">\n'+
                        ' <div id="comments-' + data.id +'" style="flex-direction: column;">' +
                        '</div>' +
                        ' <div id="comments-end-' + data.id +'" style="flex-direction: column;">' +
                                                '</div>' +
                        '   <div style="display:flex; flex-direction: row; width:100%; align-items: flex-start">' +
                        '       <textarea placeholder="Leave a comment...." class="form-control" style=" resize: none" rows="1" id="comment-'+ data.id +'" name="text"></textarea>\n'+
                        '       <button class="btn btn-primary" data-id="' + data.id + '" style="margin-bottom: 0;" id="post-comment">Submit</button>\n'+
                        '   </div>   ' +
                        '  </div>';
        ddl+=           '    </div>';       
        
        return ddl;
    };
    

</script>
@{
    if (@Model.Nickname != User.Identity.Name)
    {

<script type="text/javascript">

    $(document).on('click', '#send-friend-request', function() {
                                   $.ajax({
                                     url:'@Url.Action("FriendRequestButtonResponse", "User")',
                                     type:'POST',
                                     async: false,
                                     data: {
                                         id: @Model.Id
                                     }
                                   }
                  );
     let button = document.getElementById("send-friend-request");
     button.innerText= FriendStatus();                                                                
     });
   
    let FriendStatus = function(){
        let res = "";
        $.ajax({
                url: '@Url.Action("CheckFriendStatus", "User")',
                type: 'GET',
                async: false,
                data: {
                   id: @Model.Id,
                }
              }).done(function(result) {
                  res = result;
                                                                                                                                         
              });
                         if(res === "friends"){
                             return "В друзьях"
                         } else
                         if(res === "subscriber"){
                             return "Ваш подщипчик"
                         } else
                         if(res === "output"){
                             return "Заяука отправлена"
                         } else
                         if(res === "input"){
                             return "Принять заявку"
                         } else
                         if(res === "none"){
                             return "Отправить заявку"
                         }  
    };
    
    $(document).ready(function() {
         let button = document.getElementById("send-friend-request");
         button.innerHTML = FriendStatus();
    })
    
</script>
    }
}