@{
    Layout = "_Layout_Profile";
}
<style>

.reaction-button {
  font-size: 25px; 
  margin-left: 3%;
  color: #b6b6b6
}

.post-photos {
display: flex;
justify-content: center;
align-items: center; 
margin-bottom: 2%; 
margin-top: 2%;
}

.post-text {
margin-left: 3%;
 margin-bottom: 1.5%; 
 margin-top: 1.5%
}

.post-header {
margin: 3% 3% 0%;
display: flex; 
flex-direction: row;
 align-items: flex-start;
}
.comment-header {
display: flex; 
flex-direction: row;
 align-items: flex-start;
}
</style>

@{
    if (Model.User.Nickname == User.Identity.Name)
    {
        <div style="width: 100%; height: auto; background: #fff; border-radius: 5px; display: flex">
            <div class="container flex-column align-items-center justify-content-center">
                <div class="form-group">
                    <textarea placeholder="Add new post" class="form-control" style="resize: none; overflow: auto; margin-top: 10px;" rows="3" id="comment" name="text"></textarea>
                </div>
                <button class="btn btn-primary mb-3" id="send-post">Submit</button>
            </div>
        </div>
    }
}

<div style="display: flex; flex-direction: column">
    
    <div id="posts"></div>
    
</div>


<script>

    $(document).on('click', '.like-post', function() {
             $.ajax({
               url:'@Url.Action("LikeButtonResponse", "Post")',
               type:'POST',
               data: {   
                   postId: $(this).data("id")
               }
             });
             let likeCount = document.getElementById("like-post" + String($(this).data("id")));
             likeCount.innerHTML = String(parseInt(likeCount.innerHTML) + 1);
             $(this).css('color', 'red');
             $(this).removeClass("like-post");
             $(this).addClass("unlike-post");
             
     });
 
    $(document).on('click', '.unlike-post', function() {
             $.ajax({
               url:'@Url.Action("LikeButtonResponse", "Post")',
               type:'POST',
               data: {
                   postId: $(this).data("id")
               }
             });
             let likeCount = document.getElementById("like-post" + String($(this).data("id")));
             likeCount.innerHTML = String(parseInt(likeCount.innerHTML) - 1);
             $(this).css('color', 'gray');
             $(this).removeClass("unlike-post");
             $(this).addClass("like-post");
        });

    $(document).ready(function() {
   $.ajax({
           url:'@Url.Action("GetPostsByUserId", "Post")',
           type: 'GET',
           data: {
               postId: @Model.User.Id,
           }
       }).done(function(posts) {
           let ddl = ' ';
                           $.each(posts, function(index, element){
                               ddl = PostMakeHTML(element);
                               $(ddl).insertBefore('#posts'); 
                               if(IsPostLikedByUser(element.id)){
                                    $("#l" + element.id).css('color', 'red');
                                    $("#l" + element.id).removeClass("like-post");
                                    $("#l" + element.id).addClass("unlike-post");
                               }
                               $.ajax({
                                          url:'@Url.Action("GetCommentsByPostId", "Post")',
                                          type: 'GET',
                                          data: {
                                              postId: element.id,
                                          }
                                      }).done(function(comments) {
                                         $.each(comments, function(index, comment){
                                             ddl = CommentMakeHTML(comment);
                                             $(ddl).insertAfter('#comments-' + element.id); 
                                         }); 
                                      });   
                           });                           
     })
 });

    $(document).on('click', '#send-post', function() {
                $.ajax({
                  url:'@Url.Action("SaveAndReturnPost", "Post")',
                  type:'POST',
                  data: {
                      text: $('#comment').val()
                  }
                })
                .done(function (post){
                    let ddl = ' ';
                    ddl+=PostMakeHTML(post);
                    $(ddl).insertBefore('#posts');
                    });
           });
    
    $(document).on('click', '#post-comment', function() {
     let postId = 0;
     let button = $(this);
     postId = button.data("id");
                    $.ajax({
                      url:'@Url.Action("SaveAndReturnComment", "Post")',
                      type:'POST',
                      data: {
                          text: $('#comment-' +  button.data("id")).val(),
                          postId: button.data("id")
                      }
                    })
                    .done(function (comment){
                        let ddl = ' ';
                        ddl+=CommentMakeHTML(comment);
                        $(ddl).insertBefore('#comments-end-' +  postId); 
                        console.log('#comments-of-' +  postId);
                        let v = document.getElementById("comments-of-" + postId);
                        v.innerHTML = " " + String(parseInt(v.innerHTML) + 1);
                    });
               });
        
    $(document).on('click', '#delete-post', function() {
        DeletePost($(this).data("id"));
     });

    let DeletePost = function(id) {
        $.ajax({
        url:'@Url.Action("DeletePost", "Post")',
        type: 'POST',
        data: {
            postId: id
        }
        }).done(function() {
           document.getElementById("post-" + id).innerHTML = "";
        })
    };

   
</script>