@{
    Layout = "_Layout_Profile";
}
<style>
        
#like:hover{
  transform: scale(1.2);
}

#like{
  cursor: pointer;
}

.reaction-button {
  font-size: 25px; 
  margin-left: 3%;
  color: #b6b6b6
}

.post-photos {
display: flex;
justify-content: center;
align-items: center; 
margin-bottom: 2%; 
margin-top: 2%;
}

.post-text {
margin-left: 3%;
 margin-bottom: 1.5%; 
 margin-top: 1.5%
}

.post-header {
margin: 3% 3% 0%;
display: flex; 
flex-direction: row;
 align-items: flex-start;
}
.comment-header {
display: flex; 
flex-direction: row;
 align-items: flex-start;
}
</style>

@{
    if (Model.Nickname == User.Identity.Name)
    {
        <div style="width: 100%; height: auto; background: #fff; border-radius: 5px; display: flex">
            <div class="container flex-column align-items-center justify-content-center">
                <div class="form-group">
                    <textarea placeholder="Add new post" class="form-control" style="resize: none; overflow: auto; margin-top: 10px;" rows="3" id="comment" name="text"></textarea>
                </div>
                <button class="btn btn-primary mb-3" id="postdata">Submit</button>
            </div>
        </div>
    }
}

<div style="display: flex; flex-direction: column">
    @*
  <div id="post-" class="shadow-lg" style="width: 100%; border-radius: 2px; margin-top: 2%;">
        <div id="post-header-" class="post-header">
            <img src="@Url.Content(@Model.AvatarPath)" width="50px" height="50px" style="border-radius: 50%">
            <div style="padding-left: 15px;">
                <div style="color: #20257c; font-size: 20px;">
                    <a>@Model.Nickname</a>
                </div>
                <div style="color: #b9b9b9">
                    67:89 в дагестане
                </div>
            </div>
            <div id="post-options-" class="dropdown" style="margin-left: auto; color: #b6b6b6">
                <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                </div>
            </div>
        </div>
        <div id="post-text-" class="post-text">
            ЛЯ КАКОЙ))))
        </div>
        <div id="post-photos-" class="post-photos">
            <img src="@Url.Content("~/lya.jpg")" width="400px" height="250px">
        </div>
        <div id="post-reactions-" style="margin-bottom: 2%;">
            <i class="fas fa-heart reaction-button" id="like"></i> 0
            <i class="fas fa-comment reaction-button" id="comment"></i> 0
            <i class="fas fa-reply reaction-button" id="share"></i> 0
        </div>
    </div>*@ 
    <div id="posts"></div>
    
</div>


<script type="text/javascript">

 $(document).ready(function() {
   $.ajax({
           url:'@Url.Action("GetPostsByUserId", "Post")',
           type: 'GET',
           data: {
               id: @Model.Id,
           }
       }).done(function(data) {        
           let ddl = ' ';
                           $.each(data, function(index, element){
                               ddl = PostMakeHTML(element);
                               $(ddl).insertBefore('#posts'); 
                               if(IsLikedByUser(element.id)){
                                    $("#l" + element.id).css('color', 'red');
                                    $("#l" + element.id).removeClass("like");
                                    $("#l" + element.id).addClass("unlike");
                               }
                               $.ajax({
                                          url:'@Url.Action("GetCommentsByPostId", "Post")',
                                          type: 'GET',
                                          data: {
                                              postId: element.id,
                                          }
                                      }).done(function(comments) {
                                         $.each(comments, function(index, comment){
                                             ddl = CommentMakeHTML(comment);
                                             $(ddl).insertAfter('#comments-' + element.id); 
                                         }); 
                                      });
                                  
                           });
                           
     })
 });
 
 $(document).on('click', '.like', function() {
             $.ajax({
               url:'@Url.Action("LikeButtonResponse", "Post")',
               type:'POST',
               data: {   
                   postId: $(this).data("id")
               }
             });
             let v = document.getElementById("like" + String($(this).data("id")));
             v.innerHTML = String(parseInt(v.innerHTML) + 1);
             $(this).css('color', 'red');
             $(this).removeClass("like");
             $(this).addClass("unlike");
             
     });
 
 $(document).on('click', '.unlike', function() {
             $.ajax({
               url:'@Url.Action("LikeButtonResponse", "Post")',
               type:'POST',
               data: {
                   postId: $(this).data("id")
               }
             });
             let v = document.getElementById("like" + String($(this).data("id")));
             v.innerHTML = String(parseInt(v.innerHTML) - 1);
             $(this).css('color', 'gray');
             $(this).removeClass("unlike");
             $(this).addClass("like");
        });
    
 $(document).on('click', '#postdata', function() {
                $.ajax({
                  url:'@Url.Action("SaveAndReturnPost", "Post")',
                  type:'POST',
                  data: {
                      text: $('#comment').val()
                  }
                })
                .done(function (data){
                    let ddl = ' ';
                    ddl+=PostMakeHTML(data);
                    $(ddl).insertBefore('#posts');            
                    });
           });
    
 $(document).on('click', '#post-comment', function() {
     let postId = 0;
     let button = $(this);
     postId = button.data("id");
                    $.ajax({
                      url:'@Url.Action("SaveAndReturnComment", "Post")',
                      type:'POST',
                      data: {
                          text: $('#comment-' +  button.data("id")).val(),
                          postId: button.data("id")
                      }
                    })
                    .done(function (data){
                        let ddl = ' ';
                        ddl+=CommentMakeHTML(data);
                        $(ddl).insertBefore('#comments-end-' +  postId); 
                        console.log('#comments-of-' +  postId);
                        let v = document.getElementById("comments-of-" + postId);
                        v.innerHTML = " " + String(parseInt(v.innerHTML) + 1);
                    });
               });
        
 $(document).on('click', '#delete-post', function() {
   DeletePost($(this).data("id"));
 });
 
    let ConvertTimeToPostFormat = function(time){
             let t = ' ';
             for(let i = 11; i < 16; i++){
             t += time[i];
             }
             t+=' ';
             t+=time[8];
             t+=time[9];
             t+='.';
             t+=time[5];
             t+=time[6];
             t+='.';
             t+=time[0];
             t+=time[1];
             t+=time[2];
             t+=time[3];
             return t;
    };
    
    let ConvertTimeToCommentFormat = function(time){
                 let t = ' ';
                 for(let i = 11; i < 16; i++){
                 t += time[i];
                 }
                 return t;
        };
    
    let DeletePost = function(id) {
        $.ajax({
        url:'@Url.Action("DeletePost", "Post")',
        type: 'POST',
        data: {
            Id: id
        }
        }).done(function() {
           document.getElementById("post-" + id).innerHTML = "";
        })
    }
    
    let IsLikedByUser = function(postId){ 
     let result = false;
     $.ajax({
        url:'@Url.Action("IsLikedByUser", "Post")',
        type: 'GET',
        async: false,
            data:{
                postId: postId
        }
     }).done(function(answer) {
         result = answer;
     });
            
    return result;
 };
 
    let ReturnLikeUnlike = function(bool){
     if(bool === true){
         return "unlike";
     }
     return "like";
 };
 
    let PostMakeHTML = function(data) {
        let ddl = ' '; 
        ddl+='<div id="post-'+ data.id +'" style="width: 100%; border-radius: 2px; margin-top: 2%; background: white">\n';
        ddl+=           '        <div id="post-header-'+ data.id +'" class="post-header">\n';
        ddl+=           '          <a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + data.owner.id + '">'; 
        ddl+=           '            <img src="' + data.owner.avatarPath + '" width="50px" height="50px" style="border-radius: 50%">\n';
        ddl+=           '          </a>  ';
        ddl+=           '            <div style="padding-left: 15px;">\n';
        ddl+=           '                <div style="color: #20257c; font-size: 20px;">\n';
        ddl+=           '                    <a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + data.owner.id + '">' + data.owner.nickname + '</a>\n';
        ddl+=           '                </div>\n';
        ddl+=           '                <div style="color: #b9b9b9">\n';
        ddl+=           '<a id="show-post-big" onclick="function(){}" data-id= "' + data.id + '" style="color: grey;">' +    ConvertTimeToPostFormat(data.date) + '<\a>';
        ddl+=           '                </div>\n';
        ddl+=           '            </div>\n';
        ddl+=           '            <div id="post-options-'+ data.id +'" class="dropdown" style="margin-left: auto; color: #b6b6b6">\n';
        ddl+=           '                <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>\n';
        ddl+=           '                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">\n' + 
                        '<input class="dropdown-item" data-toggle="modal" data-target="#modalDeletePost" type="submit" value="Delete"/>';
        ddl+=           '                </div>\n';
        ddl+=           '            </div>\n';
        ddl+=           '        </div>\n';
        ddl+=           '        <div id="post-text-'+ data.id +'" class="post-text">\n';
        ddl+=            data.text;
        ddl+=           '        </div>' +
                        ' <div class="modal" id="modalDeletePost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">\n'+
                          '  <div class="modal-dialog modal-dialog-centered" role="document">\n'+
                          '    <div class="modal-content">\n'+
                          '      <div class="modal-header">\n'+
                          '        <h5 class="modal-title" id="exampleModalCenteredLabel">Delete post</h5>\n'+
                          '        <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n'+
                          '          <span aria-hidden="true">&times;</span>\n'+
                          '        </button>\n'+
                          '      </div>\n'+
                          '      <div class="modal-body">\n'+
                          '        Are you sure to delete this post? This operation can\'t be undone.\n'+
                          '      </div>\n'+
                          '      <div class="modal-footer">\n'+
                          '        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>\n'+
                          '        <button type="button" id="delete-post" data-dismiss="modal" data-id="'+ data.id +'" class="btn btn-primary">Delete</button>\n'+
                          '      </div>\n'+                        
                          '    </div>\n'+
                          '  </div>\n'+
                          '</div> \n';
        ddl+=           '        <div id="post-photos-'+ data.id +'" class="post-photos">\n';
        ddl+=           '        </div>\n';
        ddl+=           '        <div id="post-reactions-'+ data.id +'" style="margin-bottom: 2%;">\n';
        ddl+=           '            <i class="fas fa-heart reaction-button '+ ReturnLikeUnlike(IsLikedByUser(data.id)) +'" data-id="' + data.id  + '" id="l'+ data.id +'"></i> <a id="like'+ data.id +'">'+ data.rating +'</a>\n';
        ddl+=           '            <i class="fas fa-comment reaction-button" data-id="' + data.id  + '" id="comment"></i><a id="comments-of-' + data.id + '"> ' + data.commentQuantity +'</a>\n';
        ddl+=           '            <i class="fas fa-reply reaction-button" data-id="' + data.id  + '" id="share"></i> ' + data.sharesQuantity + '\n';
        ddl+=           '        </div>\n';
        ddl+=           '<div style="background: #f5f5f5; \n'+
                              'padding:1%">\n'+
                        ' <div id="comments-' + data.id +'" style="flex-direction: column;">' +
                        '</div>' +
                        ' <div id="comments-end-' + data.id +'" style="flex-direction: column;">' +
                                                '</div>' +
                        '   <div style="display:flex; flex-direction: row; width:100%; align-items: flex-start">' +
                        '       <textarea placeholder="Leave a comment...." class="form-control" style=" resize: none" rows="1" id="comment-'+ data.id +'" name="text"></textarea>\n'+
                        '       <button class="btn btn-primary" data-id="' + data.id + '" style="margin-bottom: 0;" id="post-comment">Submit</button>\n'+
                        '   </div>   ' +
                        '  </div>';
        ddl+=           '    </div>';       
        
        return ddl;
    };
 
    let CommentMakeHTML = function(data) {
         let ddl = ' '; 
         ddl+='<div id="comment'+ data.id +'"style="width: 100%; border-radius: 2px; margin: 0.5%;">\n';
         ddl+=           '        <div id="comment-header-'+ data.id +'" class="comment-header" style=" border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #dddddd;">\n';
         ddl+=           '            <img src="' + data.owner.avatarPath + '" width="40px" height="40px" style="border-radius: 50% ">\n';
         ddl+=           '            <div style="padding: 1px;  margin-left: 10px;">\n';
         ddl+=           '                <div style="color: #20257c; font-size: 15px;">\n';
         ddl+=           '                    <a href="@Url.RouteUrl(new { controller = "User", action = "Index", id = 0})' + data.owner.id + '">' + data.owner.nickname + '</a>\n';
         ddl+=           '                </div>\n';
         ddl+=           '        <div id="comment-text-'+ data.id +'" class="comment-text">\n';
         ddl+=            data.text;
         ddl+=           '        </div>\n';
         ddl+=           '          <div style="color: #b9b9b9; font-size: 15px">';
         ddl+=            ConvertTimeToCommentFormat(data.time) + ' | Answer';
         ddl+=           '           </div>';
         ddl+=           '        </div>\n';
         ddl+=           '     </div>\n';
         ddl+=           '  </div>';        
         return ddl;
     };
    
</script>